<!-- Add Product Page Start -->
<div class="container-fluid py-5">
    <div class="container py-5 mt-5">
        <div class="row">

            <div class="col-md-12">
                <h2 class="text-center">Add Products</h2>
                <form action="/admin/add-products" method="post" enctype="multipart/form-data">
                    <label for="">Name</label>
                    <input type="text" name="Name" class="form-control">

                    <label for="">Type</label>
                    <input type="text" name="Type" class="form-control">

                    <label for="">Category</label>
                    <input type="text" name="Category" class="form-control">

                    <label for="">Original Price</label>
                    <input type="number" name="originalPrice" class="form-control">

                    <label for="">Selling Price</label>
                    <input type="number" name="Price" class="form-control">

                    <label for="">Model Number</label>
                    <input type="text" name="modelNumber" class="form-control">

                    <label for="">Model Name</label>
                    <input type="text" name="modelName" class="form-control">

                    <label for="">Color</label>
                    <input type="text" name="Color" class="form-control">

                    <label for="">Description</label>
                    <input type="text" name="Description" class="form-control">

                    <label for="">Image</label>
                    <input type="file" name="Image" id="Image" class="form-control">

                    <div class="text-center"> <button style="width: 23%;" type="submit" href='' class="w-100 btn form-control border-secondary py-3 bg-white text-primary mt-3" >Submit</button></div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Add product Page End -->