<!-- Spinner Start -->
<div id="spinner"
    class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
    <div class="spinner-grow text-primary" role="status"></div>
</div>
<!-- Spinner End -->


<!-- Admin header Navbar start -->
<div class="container-fluid fixed-top">
    <div class="container topbar bg-danger d-none d-lg-block"></div>
    <div class="container px-0">
        <nav class="navbar navbar-light bg-white navbar-expand-xl">
            <a href="#" class="navbar-brand">
                <h1 class="text-danger display-6">Admin Panel</h1>
            </a>
            <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse">
                <span class="fa fa-bars text-primary"></span>
            </button>
            <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                <div class="navbar-nav mx-auto">
                    <a href="/admin" class="nav-item nav-link active">Home</a>
                    <a href="/admin" class="nav-item nav-link">All Products</a>
                    <a href="/admin/all-orders" class="nav-item nav-link">All Orders</a>
                    <a href="/admin/all-users" class="nav-item nav-link">All Users</a>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- admin header Navbar End -->