<!-- success page Start -->
<div class="container-fluid py-5 mt-5">
    <div class="container py-5 text-center mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h1 class="mb-1">ORDER PLACED</h1>
                <h1 class="display-1 text-success">SUCCESSFULLY</h1>
                <h4 style="color: brown;">Thank You {{user.Name}}</h4>
                <p class="mb-4">You're welcome! If you need any further assistance or have any questions about your order, feel free to ask.</p>
                <a class="btn border-secondary rounded-pill py-3 px-5" href="/ordered-list">View Orders</a>
            </div>
        </div>
    </div>
</div>
<!-- success page End -->